
.navicon 
{
    /* border: solid; */
    position: absolute;
    height: 40px;

}

#navicon{
    font-size: 40px;
    transform: translateX(-43px);
    transition: transform 0.5s ease-in-out;
    /* width: 40px; */
}



.heading 
{

    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body
{
    background-color: rgb(230, 230, 237);
    
    
}



.firstform
{
    margin-top: 50px;
    /* border: solid; */
    background-color: rgb(32, 32, 44);
    border-radius: 20px;
    position: absolute;
    left: 35vw;
    top: -500px;
    transition: transform 0.9s ease-in-out;
    transform: translatey(600px);
    background-color: rgb(223, 223, 231);   

    
}

@media only screen and (max-width: 619px) {
    .firstform{
        left: 0;
    }
    

}

.urls
{
    /* border: solid; */
    margin: 20px;

}

.url1
{
    margin-bottom: 50px;
    
}

.url 
{
    /* border: solid; */
    margin: 20px;
    width: 300px;
    padding: 20px;
    /* border-radius: 20px; */
    border: none;
    box-shadow: none;
    background-color: rgb(32, 32, 44);
    background-color: rgb(230, 230, 237);   
    border-bottom: solid black;
     box-shadow: none;
    outline: none;
    /* color: white; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(223, 223, 231); 
    
    
}

#urlsbtn
{
    /* border: solid; */
   width: 80%;
   margin-left: 10%;
    padding: 15px;
    border-radius: 50px;
    color: #312b37;
    outline: none;
    border: none;
    box-shadow: none;
 
    background-color: rgb(32, 32, 44);
    display: inline-block;
    color: white;

}

#secondform
{
     display: none;   
}





.secondform form
{
    /* border: solid; */
    /* border: solid; */
    
    display: flex;
    justify-content: center;
    /* visibility: hidden; */
    /* display: none; */

}






#question
{
    padding: 20px;
    width: 40vw;
    /* border-radius: 20px; */
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom:solid  rgb(24, 17, 17);
    border-width: 2px;
    color: rgb(87, 31, 31);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;

          
}



#questionbtn
{
    
   margin-top: 30px;
   margin-left: 10px;
    border: none;
    /* background-color: rgb(152, 80, 80); */
    border-radius: 20px;
    font-weight:800;
    padding: 10px;
}

#questionbtn:hover
{
    background-color: azure;
    border-radius: 20px;
}


#answerbox
{
    /* border: solid; */
    margin-top: 10px;
    height: 500px;
     
    display: flex;
    justify-content: center;
    visibility: hidden;

}

.questionanswer
{
    /* border: solid; */
    height: 500px;
    /* margin-left: -50px; */
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 223, 231);  
    overflow: scroll;

 

}


.usermessage
{
    /* border: solid; */
    display: flex;
    
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(183, 187, 235);
    color: #312b37;
    font-size: larger;


    
}

.aimessage
{

    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* margin-left: 10px; */
    background-color: rgb(55, 67, 197);

    color: white;

}








